.projects {
    position: relative; /* Allow absolute positioning of the line */
    margin-bottom: 50px; /* Space below the section */
    padding-left: 20px; /* Space for the line */
  }
  
  .projects h2 {
    font-size: 2rem; /* Font size for section headers */
    font-weight: 200; /* Consistent thin font weight */
    margin-bottom: 10px; /* Space below the header */
    cursor: pointer; /* Show pointer cursor on hover */
    transition: color 0.1s, background-color 0.1s; /* Smooth transition for hover effects */
  }
  
  .projects h2:hover {
    color: #818181; /* Change text color on hover */
  }
  
  .projects .details {
    padding-left: 20px; /* Indent details */
  }
  
  .projects h3 {
    font-size: 1.4rem; /* Font size for subheaders */
    font-weight: 200; /* Consistent thin font weight */
    margin-bottom: 5px; /* Space below the subheader */
    cursor: pointer; /* Pointer cursor to indicate clickability */
    transition: color 0.1s; /* Smooth transition for hover effects */
  }
  
  .projects h3:hover {
    color: #818181; /* Change text color on hover */
  }
  
  .projects p {
    font-size: 1.2rem; /* Font size for detail paragraphs */
    line-height: 1; /* Closer line spacing */
    padding-left: 40px; /* Indent details */
    font-weight: 200; /* Thin font for details */
    color: #818181; /* Consistent light gray text */
    margin-bottom: 5px; /* Space between paragraphs */
  }
  
  .projects::before {
    content: "";
    position: absolute;
    top: 5px; /* Aligns the line with the top of the projects section */
    left: 0; /* Aligns the line to the left */
    width: 0.5px;
    height: 100%; /* Make the line extend the full height of the section */
    background-color: #818181; /* Line color */
    z-index: 1; /* Ensure it appears behind text */
  }
  